Chapter08/c8ws.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s1="urn-IBFHOL-CRM" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://WebServices/CRM" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://WebServices/CRM" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://WebServices/CRM">
      <s:import namespace="urn-IBFHOL-CRM" />
      <s:element name="GetAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:AccountID" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:Account" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestGetAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AccountName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestGetAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:Account" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="urn-IBFHOL-CRM">
      <s:element name="AccountID" type="s1:AccountID" />
      <s:complexType name="AccountID">
        <s:attribute name="ID" type="s:string" />
      </s:complexType>
      <s:element name="Account" type="s1:Account" />
      <s:complexType name="Account">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AccountNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AccountName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StateRegion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PostalCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Fax" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WebPage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AccountStatus" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IndustryClassification" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Region" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AccountExecutive" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAccountSoapIn">
    <wsdl:part name="parameters" element="tns:GetAccount" />
  </wsdl:message>
  <wsdl:message name="GetAccountSoapOut">
    <wsdl:part name="parameters" element="tns:GetAccountResponse" />
  </wsdl:message>
  <wsdl:message name="TestGetAccountSoapIn">
    <wsdl:part name="parameters" element="tns:TestGetAccount" />
  </wsdl:message>
  <wsdl:message name="TestGetAccountSoapOut">
    <wsdl:part name="parameters" element="tns:TestGetAccountResponse" />
  </wsdl:message>
  <wsdl:portType name="CrmWebServiceSoap">
    <wsdl:operation name="GetAccount">
      <wsdl:input message="tns:GetAccountSoapIn" />
      <wsdl:output message="tns:GetAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TestGetAccount">
      <wsdl:input message="tns:TestGetAccountSoapIn" />
      <wsdl:output message="tns:TestGetAccountSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CrmWebServiceSoap" type="tns:CrmWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="GetAccount">
      <soap:operation soapAction="http://WebServices/CRM/GetAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestGetAccount">
      <soap:operation soapAction="http://WebServices/CRM/TestGetAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CrmWebService">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <wsdl:port name="CrmWebServiceSoap" binding="tns:CrmWebServiceSoap">
      <soap:address location="http://localhost/c8/CRMWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>